@CHARSET "UTF-8";

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Hiragino Sans GB", "Microsoft Yahei", SimSun, Arial,
		"Helvetica Neue", Helvetica;
	color: #333;
	word-wrap: break-word;
	-webkit-font-smoothing: antialiased;
	background: url("../../images/bg86.jpg") no-repeat #000;
	background-size: 100% 100%;
	background-attachment: fixed;
}

.code_prefix input[type=text] {
	width: 140px;
	height: 46px;
	margin-bottom: 15px;
	margin-top: 10px;
	display: inline;
}
#imgs{
	vertical-align: top;
    display: inline;
    margin: 10px 0;
}


#header {
	position: absolute;
	left: 180px;
	top: 28px;
}

#header .logo {
	display: block;
	width: 100px;
	height: 40px;
	background-size: contain;
}

a {
	background-color: transparent;
	outline: 0;
	text-decoration: none;
}

#header .icons {
	position: absolute;
	top: 8px;
	left: 108px;
	line-height: 16px;
	font-size: 12px;
	color: #fff;
	padding: 0 4px;
	background-color: #ed7266;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

i {
	font-style: normal;
}

#main {
	width: 306px;
	background: #fff;
	padding: 46px 80px;
	position: relative;
	left: 50%;
	top: 108px;
	margin: 0 0 108px -233px;
	z-index: 2;
}

article,aside,footer,header,hgroup,main,nav,section {
	display: block;
}

#main h1 {
	font-size: 14px;
	color: #555;
	text-align: center;
	width: 64px;
	background: url("../../images/bg88.png") no-repeat;
	padding-top: 78px;
	margin: 0 auto 25px;
}

form {
	display: block;
	margin-top: 0em;
}

.clearfix:before,.clearfix:after {
	content: "";
	display: table;
}

input[type=text],input[type=password] {
	color: #333;
	width: 280px;
	border: 1px solid #cecece;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 12px;
	margin: 9px 0;
}

button,input,optgroup,select,textarea {
	font-family: "Hiragino Sans GB", "Microsoft Yahei", SimSun, Arial;
	font-size: 14px;
	margin: 0;
	padding: 0;
	border: 1px solid #cecece;
}

#main .verifyCodeInput input {
	display: inline;
	width: 137px;
	margin-right: 6px;
}

#main .verifyCodeInput .yzm {
	width: 100px;
	height: 46px;
	vertical-align: middle;
	display: inline;
	margin: 10px 0;
}

img {
	border: 0;
	vertical-align: top;
	display: inline-block;
}

#main .verifyCodeInput .reflash {
	display: inline-block;
	height: 20px;
	width: 20px;
	vertical-align: middle;
	margin-left: 6px;
	background: url("../../images/bg89.svg") center center no-repeat;
	color: #3dca99;
}

a {
	background-color: transparent;
	outline: 0;
	text-decoration: none;
}

#main .btn_login {
	border-bottom: 1px solid #e3e4e5;
}

#main input[type=button] {
	border: 0;
	height: 46px;
	width: 280px;
	color: #fff;
	font-size: 16px;
	text-align: center;
	background: #3dca99;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 23px;
	margin: 18px 0;
}

#main .goregister {
	margin-top: 24px;
}

#main .goregister a {
	font-size: 14px;
	float: right;
	padding: 3px 15px;
	border: 1px solid #3dca99;
	color: #3dca99;
	margin-top: -5px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 15px;
}

#footer {
	width: 800px;
	margin: 0 auto;
	color: #fff;
	position: fixed;
	left: 50%;
	bottom: 14px;
	z-index: 1;
	margin-left: -400px;
}

#footer div {
	text-align: center;
}

div {
	display: block;
}

#footer div span {
	color: #a9a9a9;
}

#footer p {
	color: #858687;
	font-size: 12px;
	text-align: center;
	margin: 5px 0;
}

#main .forgot_pwd {
	float: right;
	color: #3dca99;
	font-size: 12px;
	margin: 5px 0 0;
}

p {
	margin: 0;
}

span {
	font-size: 14px;
}
